<!-- Page Content-->
<section class="py-5">
  <div class="container px-5 my-5">
    <div class="text-center mb-5">
      <h1 class="fw-bolder">Frequently Asked Questions</h1>
      <p class="lead fw-normal text-muted mb-1">How can we help you?</p>
      <nav class="navbar navbar-light">
        <div class="container-fluid justify-content-center">
          <%= search_form_for(@search, url: home_search_path, method: :get, class: "d-flex justify-content-center") do |form| %>
            <%= form.search_field :description_cont, class: "form-control me-2", placeholder: "Search" %>
            <button class="btn btn-primary" type="submit">Search</button>
          <% end %>
        </div>
      </nav>

    </div>
    <div class="row gx-5 justify-content-center">
      <div class="col-xl-8">
        <!-- Questions -->
        <%= render 'questions' %>
      </div>
    </div>
  </div>
</section>
