<!-- Page Content-->
<section class="py-5">
  <div class="container px-5 my-5">
    <%= render 'home/shared/search_bar' %>
    <div class="row gx-5 justify-content-center">
      <div class="col-xl-8">
        <!-- Questions -->
        <% @questions.each do |question| %>
          <div class="accordion mb-5" id="accordionExample">
            <div class="accordion-item">
              <h3 class="accordion-header" id="headingOne"><button class="accordion-button" disabled="true" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><%= question.try(:description) %></h3>
              <% question.try(:answers).each do |answer| %>
                <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <li><%= answer.try(:description) %></li>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
