<div class="text-center mb-5">
  <h1 class="fw-bolder">Frequently Asked Questions</h1>
  <p class="lead fw-normal text-muted mb-1">How can we help you?</p>
  <nav class="navbar navbar-light">
    <div class="container-fluid justify-content-center">
      <%= form_with(url: home_search_path, local: true, method: :get, class: "d-flex justify-content-center") do |form| %>
        <%= form.text_field :keyword, class: "form-control me-2", placeholder: "#{show_keyword(params[:keyword])}" %>
        <%= form.submit 'Search', class:"btn btn-primary" %>
      <% end %>
    </div>
  </nav>
</div>
