<form class="row g-3">
  <div class="col-12">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
  </div>
    <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword4" placeholder="New Password">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password Confirmation</label>
    <input type="password" class="form-control" id="inputPassword4" placeholder="Password confirmation">
  </div>
  <div class="col-12 p-2">
    <button type="submit" class="btn btn-primary">Update</button>
  </div>
</form>